<body>
<div class="container">

    <% if notice != nil %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

<%= form_for_filterrific @fa do |f| %>

    <div class="filter-taco">

      <div class="form-row align-items-center">

        <div class="col">
          Search:
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control') %>
        </div>

        <div class="col">
          Sorted By:
          <%= f.select(:sorted_by, @fa.select_options[:sorted_by], {}, {:class=>"form-control"}) %>
        </div>

      </div>

      <div class="form-row align-items-center">

        <div class="col">
          BES Asset:
          <%= f.select(:with_bes_asset, @bes_assets.all.collect { |p| [ p.asset_id, p.asset_id ] }, {:include_blank => '- Any -'}, {:class => 'form-control'}) %>
        </div>

        <div class="col">
          BES System?:
          <%= f.select(:bes_system_yn, [['Yes','Yes'],['No','No']], {:include_blank => '- Any -'}, {:class=>"form-control"}) %>
        </div>

        <div class="col">
          Impact Rating:
          <%= f.select(:impact_rating, [['High','High'],['Medium','Medium'],['Low','Low'],['N/A','N/A']], {:include_blank => '- Any -'}, {:class=>"form-control"}) %>
        </div>

      </div>

      <br>

      <div class="form-row align-items-center">
          <div class="col"></div>
          <div class="col-md-auto"><%= link_to('Export', bes_cyber_systems_path(:format => :csv), :class=>"btn-taco") %></div>
          <div class="col-md-auto"><%= link_to('Reset Filters', reset_filterrific_url, :class=>"btn-taco") %></div>
        </div>
    </div>
    <% end %>

  </div>

    <%= render(partial: 'bes_cyber_systems/list', locals: { bes_cyber_systems: @bes_cyber_systems } ) %>

</body>
