<p id="notice"><%= notice %></p>

<p>
  <strong>Al file name:</strong>
  <%= @access_list_to_ea_point.al_file_name %>
</p>

<p>
  <strong>Al eap:</strong>
  <%= @access_list_to_ea_point.al_eap_id %>
</p>

<%= link_to 'Edit', edit_access_list_to_ea_point_path(@access_list_to_ea_point) %> |
<%= link_to 'Back', access_list_to_ea_points_path %>
