<p id="notice"><%= notice %></p>

<p>
  <strong>Psp dia file name:</strong>
  <%= @psp_diagrams_to_ps_perimeter.psp_dia_file_name %>
</p>

<p>
  <strong>Psp dia psp:</strong>
  <%= @psp_diagrams_to_ps_perimeter.psp_dia_psp_id %>
</p>

<%= link_to 'Edit', edit_psp_diagrams_to_ps_perimeter_path(@psp_diagrams_to_ps_perimeter) %> |
<%= link_to 'Back', psp_diagrams_to_ps_perimeters_path %>
