<p id="notice"><%= notice %></p>

<p>
  <strong>Nt file name:</strong>
  <%= @network_top_to_es_perimeter.nt_file_name %>
</p>

<p>
  <strong>Nt esp:</strong>
  <%= @network_top_to_es_perimeter.nt_esp_id %>
</p>

<%= link_to 'Edit', edit_network_top_to_es_perimeter_path(@network_top_to_es_perimeter) %> |
<%= link_to 'Back', network_top_to_es_perimeters_path %>
