<body>

  <div class="container">

    <% if notice != nil %>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <%= form_for_filterrific @f do |f| %>

    <div class="filter-taco">

      <div class="form-row align-items-center">

        <div class="col">
          Search:
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control') %>
        </div>

        <div class="col">
          Sorted By:
          <%= f.select(:sorted_by, @f.select_options[:sorted_by], {}, {:class=>"form-control"}) %>
        </div>

      </div>

      <br>

      <div class="form-row align-items-center">

        <div class="col">
          Asset ID:
          <%= f.select(:with_asset_id, @bes_assets.all.collect { |p| [ p.asset_id, p.asset_id ] }, {:include_blank => "- Any -"}, {:class => 'form-control'}) %>
        </div>

        <div class="col">
          Rating:
          <%= f.select(:with_impact_rating, [['High','High'],['Medium','Medium'],['Low','Low'],['N/A','N/A']], {:include_blank => "- Any -"}, {:class => 'form-control'}) %>
        </div>

        <div class="col">
          Cyber System:
          <%= f.select(:with_logging, @bes_cyber_systems.all.collect { |p| [ p.BES_cyber_system, p.BES_cyber_system ] }, {:include_blank => '- Any -'}, {:class => 'form-control'}) %>
        </div>

      </div>

      <br>

      <div class="form-row align-items-center">

        <div class="col">
          Function:
          <%= f.select(:with_ca_function,[
              ["Active Directory (AD)", "Active Directory (AD)"],
              ["Application Server", "Application Server"],
              ["Appliance","Appliance"],
              ["Communications Processor","Communications Processor"],
              ["Computer Networking","Computer Networking"],
              ["Data Acquisition","Data Acquisition"],
              ["Data Concentrator","Data Concentrator"],
              ["Data Diode","Data Diode"],
              ["Data Interchange","Data Interchange"],
              ["Data Server","Data Server"],
              ["Development & Testing","Development & Testing"],
              ["Diagnostic","Diagnostic"],
              ["Distributed Control System (DCS)","Distributed Control System (DCS)"],
              ["Energy Management System (EMS)","Energy Management System (EMS)"],
              ["Equipment Diagnostic/Maintenance","Equipment Diagnostic/Maintenance"],
              ["Fault Recorder","Fault Recorder"],
              ["Frequency Device","Frequency Device"],
              ["File Server","File Server"],
              ["Firewall","Firewall"],
              ["Generation Management System (GMS)","Generation Management System (GMS)"],
              ["Historian","Historian"],
              ["HMI Workstation","HMI Workstation"],
              ["Hypervisor","Hypervisor"],
              ["Inter-Control Center Communications Protocol (ICCP) Server","Inter-Control Center Communications Protocol (ICCP) Server"],
              ["Infrastructure Support","Infrastructure Support"],
              ["Intelligent Electronic Device", "Intelligent Electronic Device"],
              ["Intelligent Instrumentation","Intelligent Instrumentation"],
              ["Intermediate System","Intermediate System"],
              ["Intrusion Detection System (IDS)","Intrusion Detection System (IDS)"],
              ["Intrusion Prevention System (IPS)","Intrusion Prevention System (IPS)"],
              ["Management Console","Management Console"],
              ["Marketing System","Marketing System"],
              ["Meter","Meter"],
              ["Micro Panel","Micro Panel"],
              ["Network Printer","Network Printer"],
              ["Phasor Data Concentrator (PDC)","Phasor Data Concentrator (PDC)"],
              ["Phasor Measurement Unit (PMU)","Phasor Measurement Unit (PMU)"],
              ["Physical Access Control Panel","Physical Access Control Panel"],
              ["Precision Time Device","Precision Time Device"],
              ["Programmable Logic Controller (PLC)","Programable Logic Controller (PLC)"],
              ["Protective Relay","Protective Relay"],
              ["Remote Terminal Unit (RTU)","Remote Terminal Unit (RTU)"],
              ["Router","Router"],
              ["Security Information Management (SIM)","Security Information Management (SIM)"],
              ["Security Event Management (SEM)","Security Event Management (SEM)"],
              ["Security Event Log Collector","Security Event Log Collector"],
              ["Security Information and Event Management (SIEM)","Security Information and Event Management (SIEM)"],
              ["Sensor/Actuator/Transmitter","Sensor/Actuator/Transmitter"],
              ["Situational Awareness","Situational Awareness"],
              ["SQL Database","SQL Database"],
              ["Supervisory Control and Data Acquisition (SCADA) Server","Supervisory Control and Data Acquisition (SCADA) Server"],
              ["Supervisory Control and Data Acquisition (SCADA) PC","Supervisory Control and Data Acquisition (SCADA) PC"],
              ["Switch","Switch"],
              ["Tap Changer","Tap Changer"],
              ["Terminal Server","Terminal Server"],
              ["Time Device","Time Device"],
              ["Training Simulator","Training Simulator"],
              ["Unidirectional Gateways","Unidirectional Gateways"],
              ["Virtual Host","Virtual Host"],
              ["Virtual Server","Virtual Server"],
              ["PI","PI"],
              ["PC","PC"],
              ],
              {:include_blank => "- Any -"}, {:class => 'form-control'}) %>
        </div>

        <div class="col">
          OS:
          <%= f.select(:with_os_firmware,[
                ["Apple Mac OS X","Apple Mac OS X"],
                ["CentOS Linux","CentOS Linux"],
                ["Cisco ASA","Cisco ASA"],
                ["Cisco IOS","Cisco IOS"],
                ["Debian Linux","Debian Linux"],
                ["Digital OpenVMS","Digital OpenVMS"],
                ["FreeBSD","FreeBSD"],
                ["HP HP-UX","HP HP-UX"],
                ["IBM AIX","IBM AIX"],
                ["IBM OS390","IBM OS390"],
                ["IBM PC-DOS","IBM PC-DOS"],
                ["IBM z/OS","IBM z/OS"],
                ["Juniper Junos OS","Juniper Junos OS"],
                ["Microsoft MS-DOS","Microsoft MS-DOS"],
                ["Microsoft Windows 2000","Microsoft Windows 2000"],
                ["Microsoft Windows 7","Microsoft Windows 7"],
                ["Microsoft Windows 8","Microsoft Windows 8"],
                ["Microsoft Windows 10","Microsoft Windows 10"],
                ["Microsoft Windows NT","Microsoft Windows NT"],
                ["Microsoft Windows Server 2000","Microsoft Windows Server 2000"],
                ["Microsoft Windows Server 2003","Microsoft Windows Server 2003"],
                ["Microsoft Windows Server 2008","Microsoft Windows Server 2008"],
                ["Microsoft Windows Server 2008 R2","Microsoft Windows Server 2008 R2"],
                ["Microsoft Windows Server 2012","Microsoft Windows Server 2012"],
                ["Microsoft Windows Server 2012 R2","Microsoft Windows Server 2012 R2"],
                ["Microsoft Windows Server 2016","Microsoft Windows Server 2016"],
                ["Microsoft Windows Vista","Microsoft Windows Vista"],
                ["Microsoft Windows XP","Microsoft Windows XP"],
                ["Novell openSUSE","Novell openSUSE"],
                ["Novell SUSE Enterprise Linux Server","Novell SUSE Enterprise Linux Server"],
                ["Oracle Linux","Oracle Linux"],
                ["Oracle Solaris","Oracle Solaris"],
                ["Red Hat Enterprise Linux","Red Hat Enterprise Linux"],
                ["SGI Irix","SGI Irix"],
                ["Slackware Linux","Slackware Linux"],
                ["Sun Solaris","Sun Solaris"],
                ["Ubuntu Linux","Ubuntu Linux"],
                ["Unisys 2200","Unisys 2200"],
                ["VMware ESX Server","VMware ESX Server"],
                ["VMware ESXi","VMware ESXi"],
                ["VMware vCenter Server","VMware vCenter Server"],
                ],
                {:include_blank => "- Any -"}, {:class => 'form-control'}) %>
        </div>

        <div class="col">
          Classification:
          <%= f.select(:with_ca_class, [["BCA", "BCA"],["EACMS", "EACMS"],["PACS","PACS"],["PCA","PCA"],["CA in BCS","CA in BCS"]], {:include_blank => "- Any -"}, {:class => 'form-control'}) %>
        </div>

      </div>

      <br>

      <div class="form-row align-items-center">
        <div class="col" align="right">
          <%= link_to('Export', bes_cyber_assets_path(:format => :csv, :filterrific => @f.to_hash), :class=>"btn-taco") %>
          <%= link_to('Reset Filters', reset_filterrific_url, :class=>"btn-taco") %>
        </div>
      </div>

    </div>

    <% end %>

  </div>

  <%= render(partial: 'bes_cyber_assets/list', locals: { bes_cyber_assets: @bes_cyber_assets } ) %>

</body>